<%= link_to "Logout", sessions_path, method: :delete %>

<div>
  <h1>Hello user! Welcome to Frankenstein Overflow!</h1>
</div>

<%  @questions.each do |question| %>
  <div>
    <h3><span><!-- Vote total Goes here --></span><%= link_to question.title, questions_show_path(question.id) %></h3>
    <p><%= question.content %></p>
  </div>
<% end %>
