<%  @questions.each do |question| %>
  <div>
    <h3><span><!-- Vote total Goes here --></span><%= link_to question.title, question_path(question) %></h3>
    <p><%= question.content %></p>
  </div>
<% end %>
